@media screen and (max-width: 600px) {
    
        .about_section{
            display: flex;
            flex-direction: column;  
            padding-left: 8vw;
            padding-right: 8vw;
            padding-top: 10px;
            height: 125vh;        
            /* background-color: blue; */
        }
        .section_left{
            width: 100%;
            padding: 15px;
            font-size: 20px;
            padding-top: 18px;
            height: 55%;
           /* background-color: red; */
        }
        .section_left span{
        color: green;
        font-weight: 700;
        }
        .section_left button{
            padding: 8px;
            border: none;
            height: 54px;
            width: 125px;
            margin-top: 1rem;
            color: white;
            font-weight: 500;
            /* background-color: #07294d; */
        }
       
        .section_right{
            height: 50%;
           width: 100%;
        }
        
        
        .sectionimg1{
           width: 80%;
           height: 40%;
        }
        .sectionimg1 img{
         height: 60%;
         width: 40%;
         object-fit: cover;
        }
        .sectionimg2{
            width: 80%;
            height: 40%;
        }
        .sectionimg2 img{ 
            height: 60%;
         width: 40%;
         object-fit: cover;
          }


}
@media (min-width: 600px) and (max-width: 1024px) {
    .about_section{
        display: flex;
        flex-direction: column;  
        padding-left: 8vw;
        padding-right: 8vw;
        padding-top: 10px;
        height: 125vh;        
        /* background-color: blue; */
    }
    .section_left{
        width: 100%;
        padding: 15px;
        font-size: 28px;
        padding-top: 18px;
        height: 55%;
       /* background-color: red; */
    }
    .section_left h2{
        font-size: 2em;
    }
    .section_left span{
    color: green;
    font-weight: 700;
    }
    .section_left button{
        padding: 8px;
        border: none;
        height: 86px;
        width: 163px;
        margin-top: 1rem;
        color: white;
        font-weight: 500;
        /* background-color: #07294d; */
    }
   
    .section_right{
        display: flex;
        width: 100%;
        justify-content: space-around;
        /* flex-wrap: wrap; */
        /* flex-direction: row; */
        /* height: 100%; */
        /* background-color: rgb(56, 165, 42); */
    }
    
    .sectionimg{
        height: 140px;
        width: 140px;
        /* margin-top: 75px; */
        margin-left: 0px;
        padding: 6px;
        /* justify-content: space-around; */
    }

}