/* ------------------------------------ home section  ----------------------      */

.career_Guidance{
    padding: 5vw;
    padding-left: 7vw;
    width: 100%;
   height:100vh; 
   display: flex;
   position: relative;
   /* background-color: green; */
  }
  
  .left{
    padding: 20px;
    color: white;
    background-color:#07294d;
    height: 327px;
    width: 324px;
  
  }
  .right{
    text-align: center;
    /* background-color: #faaf02; */
    color: #07294d;
    height: 130px;
    width: 350px;
    margin-left: 15vw;
  }
  .right span{
  color: red;
  }
  .image-container{
    position: absolute;
    bottom: 0;
    left: 12vw;
    overflow: hidden;
    object-fit: contain;
  }
  .career_image{
    height: 100%;
    width: 100%;
  }


  /*------------------- visitor section --------------------*/


  #visiter_section{
    /* background-color: red; */
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 3vw 8vw 0 8vw;
  }
  .vleft{
    height: 100%;
    width: 40%;
    background-color: #07294d;
    position: relative;
  }
  .vlet_img{
     /* display: flex; */
     width: 40vw;
     margin-left: 80px;
     margin-top: 60px;
     position: absolute;
 
  }
  .vimg{
     width: 100%;
  }
  .vright{
    height: 100%;
    width: 60%;
    background-color: #f1f1f1;
    display: flex;
   justify-content: center;
   align-items: center;
  
  }
  .vtext {
    padding-left: 8rem;
    line-height: 7rem;
}

 .vright h2{
  font-weight: 700;
  font-size: 48px;
  
 }

 .vright h3{
  font-weight: 600;
  font-size: 30px;
  
 }
 .vright p {
  font-size: 1.2rem;
  /* margin-top: 53px; */
  margin-bottom: 2rem;
}
 


/* countary scion    */
.Country_section{
  padding: 0 0 0 8vw;
  display: flex;
  align-items: center;
 height: 26vh;
 gap: 4vw;

}
.Country_section h2{
  color: #07294d;
   font-weight: 700;
   line-height: 1.8rem;

}
.Country_section button{
  background-color: #0C8B51;
  border: none;
  
  padding: 2px;
  color: white;
  font-weight: 500;
  width: 136px;
    height: 43px;
}
.Country_section .line{
  padding-left: 2rem;
  padding-right: 2rem;
}

.country_section_area{
background-color:#fff ;
padding-left: 8vw;
padding-right: 8vw;
}
.country_section_area .vimg{
  padding: 1vh;
}



/*   review_section */

.review_section{
  display: flex;
gap: 3vw;
  height: 110vh;
  width: 100vw;
  /* background-color: red; */
  
  padding-left: 8vw;
  padding-right: 8vw;
}
.review_text{
  margin-top: 24vh;
  padding: 2vh;
  height: 50%;
  /* background-color: green; */
  width: 43%;
}
.review_text h2{
  font-size: 3vw;
  font-weight: 700;
}
.review_text p{
  font-weight: 500;
  font-size: 1.5vw;
}
.review_text2{
width: 40%;
height: 40%;
margin-top: 10vh;
background-color: #f1f1f1;
border-top: 3px solid #0c8b51;
padding: 2vh;
}
.review_text2_name{
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}

.review_image{
  height: 100%;
}
.review_image img{
  height: 100%;
}

