.float{
    position:fixed;
    width:55px;
    height:55px;
    bottom:60px;
    right:20px;
    background-color:#4dc247;
    color:#FFF;
    border-radius:50px;
    text-align:center;
  font-size:35px;
  z-index:100;
}

.my-float{
    margin-top:10px;
}
.float:hover
{background: #050; color: #fff;}