.float1 {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 120px;
  right: 20px;
  background-color: #004767;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  z-index: 100;
}
.my-float1{
    margin-top:10px;
}

.float1:hover
  
  { background: #F00; 
    color: #fff;
  }